{% include "header.html" %}
<!-- Page Header -->
<header class="masthead" style="background-image: url( {{url_for('static',filename='img/index1.jpg') }} )">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Kanishka's Blog</h1>
                    <span class="subheading">A collection of Kanishka's random musings.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts: %}
            <div class="post-preview">
                <a href="{{ url_for('posts',id = post['id']) }}">
                    <h2 class="post-title">
                       {{ post['title']}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post['subtitle']}}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Kanishka Thakur</a>
                    {{ post['date'] }}</p>

            </div>
            {% endfor %}
            <hr>

            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
<hr>
{% include "footer.html" %}

